{% extends "base.html" %}

{% block title %}Search Results{% endblock title %}

{% block body %}

<div class="container my-5">
  <h1 style="color:white">Search Article</h1>
  {% if allposts|length < 1 %}
   <p style="color:red">It looks like there aren't many great matches for your search<br>
    Tip:-Try using words that might appear on the page that you’re looking for.<br>
    Need help? Take a look at other tips for searching on Blog.</p>

    {% else %}

    {% for post in allposts %}

    <div class="container">
      <div class="card" style="width: 70rem;">
        <div class="card-body">
          <h5 class="card-title">Title:-{{post.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Time:-{{post.timestamp}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">Author:--{{post.author}}</h6>
          <p class="card-text">{{post.content | truncatechars:500}}</p>
          <a href="/blog/{{post.slug}}" class="btn btn-primary" role="button">Continue Reading</a>
        </div>
      </div>
    </div>


    </div>
    

{% endfor %}

  {% endif %}
   

{% endblock body %}